# ─── Banco de dados ───────────────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fintrack
DB_USER=fintrack_user
DB_PASSWORD=change_me

# ─── JWT ──────────────────────────────────────────────────
JWT_SECRET=change_me_to_a_64char_random_string
JWT_REFRESH_SECRET=change_me_to_another_64char_random_string
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ─── App ──────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── pgAdmin ──────────────────────────────────────────────
PGADMIN_EMAIL=admin@fintrack.local
PGADMIN_PASSWORD=change_me